.ui-wrapper {
    position: absolute;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
}

.ui-list {
    right: 50%;
    top: 130px;
    width: 110vh;
    transform: translate(50%);
    position: absolute;
}

.ui-header {
   display: flex;
   flex-direction: row;
   align-items: flex-start;
   justify-content: space-between;
   gap: 20px;
}

.ui-title {
    color: white;
}

input, textarea, select, a, button {
    pointer-events: all;
}

.ui-round-menu {
    pointer-events: all;
    position: fixed;
    width: 283px;
    height: 150px;
    left: 50%;
    transform: translate(-50%);
    bottom: 0px;
    animation: .7s ease-in-out 0s 1 fadeUp;
}

.menu-svg {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0px);
    background-color: #4840A6;
    border-radius: 141px 141px 0 0;
    bottom: 0px;
}

.menu-svg path {
    fill: #4840A6;
}

.menu-svg path.active {
    fill: url(#paint0_linear_7_122);
}

.menu-svg path, .menu-svg circle {
    filter: brightness(1);
    transition: filter 0.1s ease-in-out;
}

.menu-svg path:hover:not(.active) {
    filter: brightness(0.85);
}

.menu-svg circle:hover {
    filter: brightness(1.2);
}

.menu-icon {
    position: absolute;
    pointer-events: none;
    width: 48px;
    z-index: 2;
}

.gamepadIcon, .backIcon, .listIcon {
    bottom: 48px;
}

.gamepadIcon, .backIcon {
    left: 48px;
}

.listIcon {
    right: 48px;
}

.settingsIcon {
    bottom: 5px;
    left: 50%;
    transform: translate(-50%, 0);
    animation: .7s ease-in-out 0s 1 fadeUpSettings;
}

.ui-round-menu.low {
    animation: .7s ease-in-out 0s 1 fadeDown;
    bottom: -30px;
}

.ui-round-menu.low > .settingsIcon,
.ui-round-menu.low-back > .settingsIcon {
    opacity: 0;
    animation: .7s ease-in-out 0s 1 fadeDownSettings;
}

.ui-round-menu.lowered {
    animation: .7s ease-in-out 0s 1 fadeDownLowered;
    bottom: -150px;
}

.ui-round-menu.lowered-noanim {
    animation: none;
    bottom: -150px;
}

.ui-round-menu.low-back {
    animation: .7s ease-in-out 0s 1 fadeUpLowered;
    bottom: -30px;
}

@keyframes fadeUp {
    from { bottom: -30px }
    to { bottom: 0px }
}

@keyframes fadeDown {
    from { bottom: 0px }
    to { bottom: -30px }
}

@keyframes fadeUpLowered {
    from { bottom: -150px }
    to { bottom: -30px }
}

@keyframes fadeDownLowered {
    from { bottom: -30px }
    to { bottom: -150px }
}

@keyframes fadeDownSettings {
    from { opacity: 1; bottom: 5px; }
    to { opacity: 0; display: none; bottom: -10px; }
}

@keyframes fadeUpSettings {
    from { opacity: 0; bottom: -10px; }
    to { opacity: 1; bottom: 5px; }
}

.ui-detail {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.ui-detail-section {
    padding: 15px 0;
    border-bottom: 2px solid #fff;
}

.ui-detail-section span,
.ui-detail-section  time {
    color: #bebebe;
    font-size: .95rem;
}

.ui-btn-group {
    position: absolute;
    right: 15vw;
    bottom: 25vh;
}

.ui-btn-group button {
    background-color: #6F10B9;
    color: #fff;
    font-size: .9rem;
    padding: .7em 1em;
    border: 0;
    margin: 0 5px;
    border-radius: 2em;
}

.ui-btn-group button:hover {
    filter: brightness(1.2);
    cursor: pointer;
}