input, textarea, select, a, button {
    pointer-events: all;
}

.ui-input, .ui-select {
    padding: 16.5px 14px;
    height: 1.4375em;
    border: 3px solid #ffffff;
    border-radius: 5px;
    outline: none;
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(2px);
    box-shadow: 0 0 13px 2px #FF66FF, 0 0 13px 2px #FF66FF inset;
    color: rgb(204, 234, 247);
    text-shadow: 0 0 5px #0ab0e3, 0 0 5px #0ab0e3;
    font-weight: 400;
    font-size: 1.15rem;
}

.ui-select {
    padding: 0px 14px;
    height: 39px;
}

.ui-input::placeholder {
    color: rgb(167, 191, 201);;
}

.ui-btn {
    background-color: #6F10B9;
    box-shadow: 0 0 8px #6F10B9;
    color: #fff;
    font-size: 1rem;
    padding: 4px 14px;
    line-height: 1.75;
    cursor: pointer;
    border: 0px;
    border-radius: 5px;
    appearance: none;
    text-decoration: none;
    transition: box-shadow 0.25s ease, filter 0.1s ease;
    text-shadow: 0 0 15px #fff, 0 0 15px #fff;
}

.ui-btn:hover {
    filter: brightness(1.2);
    box-shadow: 0 0 15px 1px #6F10B9;
}

.ui-btn:active {
    filter: brightness(.9);
}