@font-face {
  font-family:"Early GameBoy";
  src:url("../public/fonts/Early GameBoy.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family:"PokemonGb";
  src:url("../public/fonts/PokemonGb-RAeo.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}

@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

*, ::after, ::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

html, body, pre, code, kbd, samp, button, input {
  font-family: "Press Start 2P";
  font-size: 1rem;
}
