@font-face {
  font-family:"PokemonGb";
  src:url("../public/fonts/PokemonGb-RAeo.ttf") format("truetype");
  font-weight:normal;
  font-style:normal;
}

@import url(https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

*, ::after, ::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

html, body, pre, code, kbd, samp, button, input {
  font-family: 'Inter', Helvetica, sans-serif;
  font-size: 1rem;
}

.fps-stats {
  left: auto !important;
  right: 0px;
  filter: hue-rotate(57deg);
}